<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @blog.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
