<!DOCTYPE html>
<html>
<head>
  <title>WenBlog | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if it IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "navbar-inner">
      <div class = "container">
        <%= link_to "Function", '#', id:"logo" %>
        <nav>
          <ul class = "nav pull-right">
            <li><%= link_to "Square", "/square" %></li>
            <li><%= link_to "Blog", "/personalBlog" %></li>
            <li><%= link_to "Sign In", "/sign_in"%>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class = "container">
    <em><%= flash.notice %></em>
    <%= yield %>
  </div>
</body>
</html>
